# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Build
dist/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# Uploads locais
uploads/
/src/generated/prisma
